

.rotulo {
	font-family: arial;
	color: white;
	border: solid 2px red;
	text-align: center;
}

.material-icons {
	color: white;
	border: solid 2px red;
	text-align: left;
}

.container {
	width: 100%;
}